{% extends 'store/base.html' %} {% block title %}Produits{% endblock %} 
{% block content %}
<div class="max-w-7xl mx-auto mt-10 p-6">
  <h1 class="text-2xl font-bold mb-4">Nos produits</h1>
  <div class="text-right mb-4">
    <button
      class="bg-purple-600 text-white font-bold py-2 px-4 rounded hover:bg-purple-700"
    >
      <a href="{% url 'view_favorites' %}">Voir mes favoris</a>
    </button>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for product in products %}
    <div class="border rounded-lg p-4 bg-white shadow-lg">
      {% if product.image.url %}
      <img
        src="{{ product.image.url }}"
        alt="{{ product.name }}"
        class="w-full h-48 object-cover rounded-md"
      />{% endif %}
      <h2 class="text-xl font-semibold mt-2">{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      {% if product.discount %}
      <p>Prix original : <del>{{ product.price }}</del></p>
      <p>Prix avec réduction : {{ product.price_with_discount }}</p>
      {% else %}
      <p>Prix : {{ product.price }}</p>
      {% endif %}

      <p>Stock : {{ product.stock }}</p>
      <div class="mt-4">
        <button
          class="bg-blue-600 text-white font-bold py-2 px-4 rounded hover:bg-blue-700"
        >
          <a href="{% url 'add_to_cart' product.id %}">Ajouter au panier</a>
        </button>
        <button
          class="bg-green-600 text-white font-bold py-2 px-4 rounded hover:bg-green-700"
        >
          <a href="{% url 'add_to_favorites' product.id %}">favoris</a>
        </button>
        <button
          class="bg-gray-600 text-white font-bold py-2 px-4 rounded hover:bg-gray-700"
        >
          <a href="{% url 'product_detail' product.id %}">Détails..</a>
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
